#file='access_log'
command='iptables -A INPUT -i eth0 -s %s -j DROP'
pattern='^(\d+.\d+.\d+.\d+) '

drop(pattern=r'^\d+.\d+.\d+.\d+ - - \[.*\] "GET /" \d+ \d+ "-" "-" "-"\n$', mask = '255.255.255.0')
drop(pattern=r'^\d+.\d+.\d+.\d+ - - \[.*\] "GET / HTTP/1.1" \d+ \d+ "-" "-" "-".*$', mask = '255.255.255.0')
#drop(pattern=r'^\d+.\d+.\d+.\d+ .* "-" \d+ \d+ "-" "-" "-".*$', mask = '255.255.255.0')
